h1, h2, h3 {
  font-family: "Neucha", sans-serif;
  font-weight: 400;
  line-height: var(--h-line-height);
  color: var(--main-color);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

p {
  font-family: "OpenSans", sans-serif;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  color: var(--main-color);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 100%;
  background-color: var(--light);
  margin: 0 auto;
}

.highlight-orange {
  color: var(--primary);
}

main {
  width: 100%;
}

.content {
  width: var(--section-wight);
  margin: 0 auto;
}

.background-img::before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../images/background.png');
  opacity: 0.1;
  content: "";
}