footer {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emailFrame {
  background-color: var(--primary-dark);
  display: flex;
  justify-content: space-around;
  width: var(--section-wight);
  padding: 0 55px;
}

.subscribe-updates {
  margin-top: 55px;
  color: var(--white);
}

a {
  color: var(--blue);
}

.signup-agreement-link {
  color: var(--white);
}

.signup-agreement {
  color: var(--white);
}

.email {
  color: var(--white);
  margin-top: 38px;
  margin-bottom: 9px;
  font-size: 18px;

}

.email-input {
  background-color: var(--white);
  box-sizing: border-box;
  height: 50px;
  width: 423px;
  border: 1px solid #E3E3E3;
  padding-left: 15px;
  padding-top: 17px;
  padding-bottom: 18px;
  color: #757575;
  font-size: 13.1px;
  
}

.email-field {
  display: flex;
  justify-content: flex-start;
}

.email-button {
  background-color: var(--primary);
  border: 0;
  padding: 0;
  height: 50px;
  width: 70px;
  z-index: 2;
  position: relative;
}

.email-button::before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url('../../images/send.svg');
  left: 23px;
  top: 13px;
  content: "";
}

.signup-agreement {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 40px;
}

.author {
  margin-top: 76px;
  margin-bottom: 0;
  font-size: 14px;
}

.link {
  font-size: 14px;
  margin-top: 16px;
  margin-bottom: 0;
}