.brown {
  background-color: var(--brown);
}

.brown-details-title {
  color: var(--translucent-white);
}

.brown-color-text {
  color: var(--light);
}

.brown-description-title {
  background-color: var(--light);
  color: var(--brown);
}

.brown-h3 {
  padding-right: 30px;
}
