:root {
  --main-font-size: 16px;
  --main-line-height: 1.6em;
  --main-color: #2A2626;

  --h-line-height: 1.2em;
  --h1-font-size: 72px;
  --h2-font-size: 60px;
  --h3-font-size: 34px;

  --section-wight: 1110px;
  --section-margin-top: 100px;
  --section-margin-bottom: 100px;

  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-family: "Neucha";
  src: url("../fonts/Neucha-Regular.ttf");
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-VariableFont.ttf");
}

h1, h2, h3 {
  font-family: "Neucha", sans-serif;
  font-weight: 400;
}

p {
  font-family: "OpenSans", sans-serif;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 100%;
  background-color: var(--light);
  margin: 0 auto;
}

body::before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/background.png');
  opacity: 0.1;
  content: "";
}

header {
  width: var(--section-wight);
  margin: 0 auto;
  position: relative;
}

.image-1 {
  height: 525px;
  position: absolute;
  top: 55px;
  right: -270px;
}

header h1 {
  width: 100%;
  position: relative;
  margin: 0;
  top: 100px;
  font-size: var(--h1-font-size);
  line-height: var(--h-line-height);
  z-index: 2;
}

.highlight-orange {
  color: var(--primary);
}

.header-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 300px;
  z-index: 2;
}

.paragraphs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}

.paragraphs .column {
  flex: 0 0 calc(50% - 15px);
  margin: 0;
}

.paragraphs p:not(:last-child) {
  margin-right: 30px;
}

.column p {
  margin: 0;
}

.last-paragraphs {
  padding-top: 16px;
}

.button-details {
  align-self: flex-start;
  margin-left: calc(50% + 15px); 
  margin-top: 60px;
  padding: 12px 24px;
  background-color: var(--primary);
  font-family: "OpenSans", sans-serif;
  font-weight: 700;
  color: var(--white);
  border: 0;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}